<section>
    <div class="container" id= "main-container">
  <div class="row">
    <div class="col-md-3 card" *ngFor="let ad of ads">
     
    <img class="card-img-top" src="{{'data:image/jpeg;base64,' +  ad.pictures}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ad.real_estates.title}}</h5>
      <span class="card-text"><h6>{{ ad.description }} </h6>
         <h6 id ="Type">type: {{ad.type}}</h6>
        <h6>Price: {{ad.real_estates.price}}$</h6> </span>
        <h6>Adress: {{ad.real_estates.adress}}</h6> 
        <h6>City: {{ad.real_estates.city}}</h6> 
        <h6>Area: {{ad.real_estates.area}}m²</h6> 
        <h6>Nbr of room: {{ad.real_estates.nbRoom}}</h6> 
         
  
        <div class="card-body">
            <div id="image1" class="float-right btn-group btn-group-sm">
             
  <a [routerLink] = "['/update-ad', ad.id]">
   <div class="col-md-1"></div>
   
   <i class="fa fa-edit" style="font-size:45px">

   </i>
 </a>
               <a  (click)="deleteAd(ad.id)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-trash" style="font-size:40px"></i></a>
            </div>
         </div>
        
    </div>
    
   </div>
  <div class="col-md-1">
  
  </div>
  </div>
  </div> 
  </section>
  
  <!-- Edit Modal -->
<!-- <div class="modal fade" id="updateAdModal" tabindex="-1" role="dialog" aria-labelledby="updateAdLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateAdModalLabel">Edit ad {{editad?.name}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button> -->
          <!-- </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="description">Description</label>
                   <input type="text" ngModel="{{updateAd.name}}" name="description" class="form-control" id="description" aria-describedby="emailHelp" placeholder="Description">
                </div> -->
                <!-- <input type="hidden" ngModel="{{editAd?.id}}" name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden" ngModel="{{editAd?.adCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email"> -->
                <!-- <div class="form-group">
                   <label for="type">Type</label>
                   <input type="type" ngModel="{{pdateAd.type}}" name="type" class="form-control" id="type" placeholder="Type">
                </div>
                <div class="form-group">
                   <label for="pictures">Pictures</label>
                   <input type="text" ngModel="{{UpdateAd.pictures}}" name="pictures" class="form-control" id="pictures" placeholder="picutres">
                </div> -->
                <!-- <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div> -->
                <!-- <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editEmployee?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div> -->
                <!-- <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="UpdateAd(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div> 
    </div> 
  </div> -->

  <!-- Delete Modal -->
<!-- <div class="modal fade" id="deleteAdModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Ad</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete this ad {{deleteAd.name}}</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteAd(DeleteAd?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div> 
    </div>   
  </div>
   --> 